@{
    ViewBag.Title = "Home Page";
}
@model List<WebApplication3.Models.Clients>
<h2>Upload your shit</h2>
<p>
    
</p>

<form action=""  method=post enctype="multipart/form-data">
<table style="margin-top:150px">
<tr>
<td><label for="file">Filename:</label></td>
<td><input type="file" name="file" id="file"/></td>
<td><input type="submit" value="Upload"/></td>
</tr>


</table>





</form>